@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');

//////      My Variables     //////
$fontColor:black;
$primary:#c657c6;
$secondaryColor:#8e57c6a9;
$thirdColor:#c6578e;
$fourthColor:#c6c657;




//////      Bulma's Variables     //////
$scheme-main-bis:#c657c6a6;     // $primary but more transparent

$text: $fontColor;
$text-strong:$fontColor;
$family-primary: 'Oswald', sans-serif;
$title-family:'Montserrat', sans-serif;

$hr-background-color:black;

$border:$secondaryColor;

$link:$primary;

$link-hover:$primary;
$link-hover-border:$secondaryColor;

$link-focus:$fourthColor;
$link-focus-border:$fourthColor;

$link-active:$thirdColor;
$link-active-border:$thirdColor;

$dropdown-item-hover-background-color:$primary;



// $title-color:$headingColor;
// $title-weight:normal;


@import "../../node_modules/bulma/bulma.sass";