
.task {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 3px 3px 10px 10px rgba(0, 0, 0, 0.4);
    display: flex;
	margin: 20px;
	height: 220px;
	position: relative; 	/* necessary for z-index */
}

.task h6 {
	letter-spacing: 1px;
	text-transform: uppercase;
}

.task h2 {
	margin: 15px 0;
}

.task-options {
	border-radius: 0px 9px 9px 0px;
	background-color: #c657c6a6;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding:0 10px;
	align-items: start;
}

.task-options span {
	text-shadow: 1px 1px gray;
}

.task-options .button, .task-options .button:focus {
	border: none;
	box-shadow: none;
	-webkit-box-shadow:none;
}

.task-info {
	padding: 20px 25px;
	position: relative;
	width: 100%;
}

.date-state-container{
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.date-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.completeBtn {
	border: 2px solid #c657c6;
    position: absolute;
	right:15px;
	bottom:15px;
	letter-spacing: 1px;
}

@media screen and (max-width:768px){
	.slider::before{
		bottom: 1.95px;
	}
	.task *:not(.date-text) {
		font-size: .85rem;
	}
}
@media screen and (max-width:485px){
	.task {
		height:250px;
		min-width: 300px;
	}
	.date-state-container{
		flex-direction: column-reverse;
	}
	.date-text{
		margin: 5px 0px 5px -12px;
	}
	.task .completeBtn{
		margin-left: 50%;
		transform: translate(-50%);
		left: 0;
	}	
}