<footer class="footer">
    <div>
    <h1 class="is-size-1">Footer Goes Here</h1>
    <subtitle>Credits to <a href="https://www.svgbackgrounds.com">www.svgbackgrounds.com</a> for this awesome background</subtitle>
    </div>
</footer>