<header>
    <h1>Header Goes Here</h1>

    {{! user is populated from fillHeader.js }}
    {{#if user}}
    <div>
        {{#if hasAvatar}}
        <img class="avatarImg" src='/users/me/avatar' width="50" height="50" />
        {{else}}
        <img src='https://i.imgur.com/F9cRyax.png' width="50" height="50" />
        {{/if}}
        <span>{{user}}
            <form action="/users/logout" method="POST">
                <button>Log Out</button>
            </form>
        </span>
    </div>
    {{else}}
    <div>
        <a href="/users/login">Log in</a>&nbsp;
        <a href="/users/signup">Sign Up</a>
    </div>
    {{/if}}
</header>