<header class="level px-5 py-2">
    <div class="level-left">
        <a class="level-item" href="/"><img src="/Logo.png" /></a>
    </div>
    {{! user is populated from fillHeader.js }}
    <div class="level-right">
        {{#if user}}
        <span class="level-item">
            <div class="avatar-container">
                {{#if hasAvatar}}
                <img class="avatarImg" src='/users/me/avatar' width="64" height="64" />
                {{else}}
                <img class="avatarImg" src='https://i.imgur.com/F9cRyax.png' width="64" height="64" />
                {{/if}}
            </div>
        </span>
        <a href="/users/me" class="level-item" style="text-decoration: underline;color:black;">{{user}}</a>
        <form class="level-item" action="/users/logout" method="POST">
            <button class="button">Log Out</button>
        </form>
        {{else}}
        <a class="level-item" href="/users/login">Log in</a>&nbsp;
        <a class="level-item" href="/users/signup">Sign Up</a>
        {{/if}}
    </div>
</header>