<header class="level px-5 py-2">
    <div class="level-left">
        <a href="/" class="level-item title is-1" style="font-weight: normal;color:#c657c6">Task App</a>
    </div>
    {{! user is populated from fillHeader.js }}
    <div class="level-right">
        {{#if user}}
        {{#if hasAvatar}}
        <span class="level-item">
            <img class="avatarImg" src='/users/me/avatar' width="64" height="64" />
        </span>
        <span class="level-item">{{user}}</span>
        {{else}}
        <span class="level-item">
            <img src='https://i.imgur.com/F9cRyax.png' width="64" height="64" />
        </span>
        <div class="dropdown is-hoverable level-item">
            <div class="dropdown-trigger">
                <button type="button" class="button" style="border: none;" aria-haspopup="true">
                    <span>{{user}}</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <a href="/users/me" class="dropdown-item">
                        Dashboard
                    </a>
                    <hr class="dropdown-divider">
                    <form action="/users/logout" method="POST">
                        <button class="button dropdown-item" style="border: none;">Log Out</button>
                    </form>
                </div>
            </div>
        </div>
        {{/if}}
        {{else}}
        <a class="level-item" href="/users/login">Log in</a>&nbsp;
        <a class="level-item" href="/users/signup">Sign Up</a>
        {{/if}}
    </div>
</header>