<header class="level">
    <div class="level-left">
        <h1 class="level-item is-size-1">Header Goes Here</h1>
    </div>
    {{! user is populated from fillHeader.js }}
    <div class="level-right">
        {{#if user}}
        {{#if hasAvatar}}
        <span class="level-item">
            <img class="avatarImg" src='/users/me/avatar' width="64" height="64" />
        </span>
        <span class="level-item">{{user}}</span>
        {{else}}
        <span class="level-item">
            <img src='https://i.imgur.com/F9cRyax.png' width="64" height="64" />
        </span>
        <span class="level-item">{{user}}</span>
        {{/if}}
        <form class="level-item" action="/users/logout" method="POST">
            <button>Log Out</button>
        </form>
        {{else}}
        <a class="level-item" href="/users/login">Log in</a>&nbsp;
        <a class="level-item" href="/users/signup">Sign Up</a>
    </div>
    {{/if}}
</header>