<header class="level px-5 py-2">
    <div class="level-left">
        <a href="/" class="level-item title is-1" style="font-weight: normal;color:#c657c6">Task App</a>
    </div>
    {{! user is populated from fillHeader.js }}
    <div class="level-right">
        {{#if user}}
        {{#if hasAvatar}}
        <span class="level-item">
            <img class="avatarImg" src='/users/me/avatar' width="64" height="64" />
        </span>
        <span class="level-item">{{user}}</span>
        {{else}}
        <span class="level-item">
            <img src='https://i.imgur.com/F9cRyax.png' width="64" height="64" />
        </span>
        <a href="/users/me" class="level-item" style="color:#4a4a4a;">{{user}}</a>
        {{/if}}
        <form class="level-item" action="/users/logout" method="POST">
            <button class="button">Log Out</button>
        </form>
        {{else}}
        <a class="level-item" href="/users/login">Log in</a>&nbsp;
        <a class="level-item" href="/users/signup">Sign Up</a>
        {{/if}}
    </div>
</header>