main {
    width:33%;
    margin:auto;    
}

header {
    position: relative;
}

header form {
    display: inline;
}

header div {
    position: absolute;
    right:10px;
    top:5px;
}
.modal {
    background-color: rgba(10,10,10,.86);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
}

.modal-content{
    position: absolute;
    padding:20px;
    width:400px;
    left:50vw;
    top:10vh;
    transform:translateX(-50%);
    background-color: white;
}

.modal-header{
    padding: 10px 0;
}

.modal-body{
    margin:20px auto;
}

.modal-body * {
    margin:0 2px 15px;
}

.modal-body label{
    display:inline-block;   /* so I can adjust vertical margins */
    margin-right:6px;
}

.modal-footer{
    padding: 10px 0;
}

.modal-confirmation {
    opacity:1;
    transition: opacity 0.8s;
}

.modal-confirmation.fade {
    opacity:0;
}

#overlay{
    background-color: rgba(10,10,10,.86);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    z-index: 5;
}

button, input[type=submit] {
    cursor: pointer;
}

#resTable{
    /* border:2px solid black; */
     border-collapse: collapse; 
     margin:auto;
}

#resTable td {
    white-space: nowrap;
    padding: 10px;
    text-align: center;
}

#resTable tr:nth-child(odd) {
    background-color: gray;
}

#resTable input[type=text]{
    background:none;
}

/* #profileTable {
  
} */

#profileTable td {
    white-space: nowrap;
    padding:10px;
}

tr {
    position: relative;
}

footer {
    position: absolute;
    bottom: 0;
}

.hidden{
    display:none;
}

.frozen {
    overflow: hidden !important;
}

.unchanging {
    border:none;
}

