body{
    /* Credits to www.svgbackgrounds.com for this awesome background */
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='1' y2='0' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%230FF'/%3E%3Cstop offset='1' stop-color='%23CF6'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(0,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23F00'/%3E%3Cstop offset='1' stop-color='%23FC0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg fill='%23FFF' fill-opacity='0' stroke-miterlimit='10'%3E%3Cg stroke='url(%23a)' stroke-width='4.619999999999999'%3E%3Cpath d='M1409 581 1450.35 511 1490 581z'/%3E%3Ccircle stroke-width='1.54' transform='' cx='500' cy='100' r='40'/%3E%3Cpath transform='' d='M400.86 735.5h-83.73c0-23.12 18.74-41.87 41.87-41.87S400.86 712.38 400.86 735.5z'/%3E%3C/g%3E%3Cg stroke='url(%23b)' stroke-width='1.4'%3E%3Cpath transform='' d='M149.8 345.2 118.4 389.8 149.8 434.4 181.2 389.8z'/%3E%3Crect stroke-width='3.08' transform='' x='1039' y='709' width='100' height='100'/%3E%3Cpath transform='' d='M1426.8 132.4 1405.7 168.8 1363.7 168.8 1342.7 132.4 1363.7 96 1405.7 96z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;

}

#signupMain, #loginMain {
    max-width: 330px;
    margin: 30px auto;
}

#signupMain *:not(.help), #loginMain *:not(.help){
    margin:10px auto;
}

header {
    padding-bottom: 10px;
    border-bottom: 2px solid gray;
}

.level-right{
    margin-right:10px;
}

footer {
    border-top:2px solid gray;
}

.my-modal {
    background-color: rgba(10,10,10,.86);
    width:100vw;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
}

.modal-content{
    position: absolute;
    padding:20px;
    width:400px;
    left:50vw;
    top:10vh;
    transform:translateX(-50%);
    background-color: white;
}

.modal-header{
    padding: 10px 0;
}

.modal-body{
    margin:20px auto;
}

.modal-body * {
    margin:0 2px 15px;
}

.modal-body label{
    display:inline-block;   /* so I can adjust vertical margins */
    margin-right:6px;
}

.modal-footer{
    padding: 10px 0;
}

.modal-confirmation {
    opacity:1;
    transition: opacity 0.8s;
}

.modal-confirmation.fade {
    opacity:0;
}

#overlay{
    background-color: rgba(10,10,10,.86);
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width:100vw;
    z-index: 5;
}

button, input[type=submit] {
    cursor: pointer;
}

#resTable {
    border-collapse: collapse; 
}

#resTable td {
    vertical-align: middle;
    /* white-space: nowrap; */
    padding: 10px;
    text-align: center;
}

#resTable tr td:nth-child(1) {
    text-align: left;
}

#resTable tr:nth-child(odd) {
    background-color: rgba(175, 20, 175, 0.712);
}

#resTable tr:nth-child(even) {
    background-color: rgba(145, 120, 120, 0.712);
}

#resTable input[type=text]{
    background:none;
}

.profile{
    margin-top: 10px;
    position: relative;
}

.input_field {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.input_field form {
    display: inline-block;
}

.input_field > label + span{
    width: 303px; 
}

.input_field > label + span:not(.file){
    height: 40px;
    padding-top: 6px;
       
}
.icon.is-large{
    position: relative;
    top: -5px;
}

.fa-sort-amount-down, .fa-sort-amount-up {
    font-size: 2rem;
}
    /* This is taken from w3schools */
.switch {
    position: relative;
    display: inline-block;
    width: 37px;
    height: 22px;
    top: 1px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 3px;
    left: 5px;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2.8px;
    bottom: 1.55px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #c657c6;
  }
  input:checked + .slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /* End of toggle swtich taken from w3schools */

svg {
    margin: auto;
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0%;
    shape-rendering: auto;
    position: relative;
    height:100px;
    left:-10px;
    top: -34px;    
}

.noideawhatimdoing {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 50px;
}

.select:not(.is-multiple):not(.is-loading)::after {
	z-index: 0;     /* bulma makes it 4 for some reason */
}

.button, .input, .select, table {
    background: transparent;
}

tr {
    position: relative;     /* this is necessary in order to adjust the z-index for the overlay effect */
}

hr{
    background-color: black;
}

.hidden{
    display:none;
}

.frozen {
    overflow: hidden !important;
}

.unchanging {
    border:none;
}

@media screen and (max-width:955px){
    .input_field {
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .input_field label{
        margin-bottom: 15px;
    }
    .input_field > label + span{
        width: auto;
    }
    .avatarImg ~ form > input {
        margin-top:30px;
    }
}
@media screen and (max-width:768px){
   #newTaskBtn {
        margin-bottom:2rem;
   }
   .tabs, .textarea, .button, .label, .select, .input, .file, .icon {
    border-radius: 2px;
    font-size: .75rem;
   }
   .icon.is-large {
       top:0;
       height: 2rem;
       width: auto;
   }
   .fa-sort-amount-down, .fa-sort-amount-up {
    font-size: 1.5rem;
    }
    svg {
        top: -55px;
        height: 60px;
    }
}