<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>
</head>
<body>
    {{> header}}
    <p>{{profile.name}}</p>
    <p>{{profile.email}}</p>
    <p>{{profile.age}} years old</p>
    <form action="/users/logoutall" method="POST">
    <button>Log Out From All Sessions</button>
    </form>



    <p>{{> footer}}</p>    
</body>
</html>